body, html {
  height: 100%;
}

.terminal {
  width: 100%;
  min-height: 100%;
  border: #000 solid 5px;
  font-family: 'DejaVu Sans Mono', 'Everson Mono', FreeMono, Menlo, Terminal, monospace;
  display: block;
  overflow-x: hidden;
  outline: none !important;
  color: rgb(240, 240, 240);
  background-color: rgb(16, 16, 16);
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
}

.terminal-line {
  height: 20px;
}

.terminal-line div {
  padding-top: 5px;
  float: left;
}

.terminal-context {
  width: 10px;
}

.terminal-cursor {
  padding-top: 0;
  margin-left: 2px;
  width: 12px;
  height: 20px;
  color: #000;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: cursor;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes cursor {
  from {
    background: #f0f0f0;
  }
  to {
    background: auto;
  }
}
